GetTokenRC/Connected Services/RCServiceReference/RCService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gps.rcontrol.com.mx/Tracking/wcf/RCService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IronTracking" />
  <xs:element name="GetUserToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IronTracking" minOccurs="0" name="GetUserTokenResult" nillable="true" type="q1:UserTokenResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPSAssetTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IronTracking" minOccurs="0" name="events" nillable="true" type="q2:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GPSAssetTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IronTracking" minOccurs="0" name="GPSAssetTrackingResult" nillable="true" type="q3:ArrayOfAppointResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>