GetTokenRC/Connected Services/RCServiceReference/RCService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IronTracking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IronTracking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gps.rcontrol.com.mx/Tracking/wcf/RCService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserTokenResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="exception" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTokenResult" nillable="true" type="tns:UserTokenResult" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="altitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="asset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="battery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="course" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ignition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="odometer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="speed" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfAppointResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointResult" nillable="true" type="tns:AppointResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointResult" nillable="true" type="tns:ArrayOfAppointResult" />
  <xs:complexType name="AppointResult">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="exception" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="idJob" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointResult" nillable="true" type="tns:AppointResult" />
</xs:schema>